<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-12">
            <div class="card-sl shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-image">
                    <img style="height: 287px; width: 100%" src="{{gymData!.img}}">
                </div>

                <div class="card-text p-4">
                    {{ gymData!.name}}

                </div>
                <div class="card-text">

                </div>

            </div>
        </div>
    </div>